html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
   background-color: black;
}

.home {
    background-image: url(bgimg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh; /* Ensure the div takes up at least the full viewport height */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.home img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

.head h1 {
    text-align: center; /* Center the text within the element */
    color: white; /* Optional: Make the text white for better visibility */
    margin-top:3em ;
    font-family: cursive;
    font-size: 5vw;
}
